.pHolder{
    width: 25vw;
    display:flex;
    flex-direction: column;
    background-color: #75A9BD;
    height:93vh;
    border-right: solid white 1px;
    max-height:93vh;
    align-items:center;
    justify-content:center;
}

.pjs::-webkit-scrollbar {
    display: none;
}

.pHolder > h2{
    color: white;
}

.pjs{
    border-bottom: solid white 1px;
    width: 100%;
    padding-top:15px;
    height:80vh;
    overflow-y:scroll;
    /* border:solid black 1px; */
    padding-top: 5vh;
    padding-bottom: 5vh;

    display:flex;
    flex-direction:column;
    align-items:center;
}

.pjs > div{
    width:80%;
    display:flex;
    flex-direction:column;
    align-items:center;
    border: solid white 1px;
    border-radius: 7px;
    /* justify-content:space-between; */
    /* margin-left: 5px; */
    margin: 5px;
    transition:all 0.5s;
    text-align:center;
}

.pjs > div:hover{
    background-color: white;
    color: black;
    cursor:pointer;
}

.pjs > div > p {
    font-size: 10pt;
}

.pjs > div > h3{
    margin-bottom: 0px;
}

span{
    /* text-decoration:none; */
    color: black;
}

.pImg4{
    width:100px;
    height:100px;
    border:solid black 1px;
    margin-top: 10px;
}

.pImg{
    margin-top:15px;
    width:150px;
    height:100px;
    border:solid black 1px
}



