/* .item{
    width:100%;
    height:100;
} */
.each-slide > div {
    max-width: 30vw;
}

.linkB{
    width: 200px;
    box-sizing: border-box;
    /* background-color: transparent; */
    background-color: whitesmoke;
    color: black;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1px;
    margin-top: 2px;
    border: solid black 1px;
    /* transition: all 0.5s; */
}

.linkB1{
    width: 100px;
    box-sizing: border-box;
    background-color: transparent;
    color: black;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1px;
    margin-top: 2px;
    border: solid black 1px;
    /* transition: all 0.5s; */
}

.linkB:hover,.linkB1:hover{
    /* background-color: rgba(128, 185, 255, 1); */
    /* background-color: transparent; */
    transform: translate(2px,0px);
}


.bg-wrap{
    position: relative;
    width:100%;
    min-height:93vh;
    height: 100%;
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    /* background-color: rgba(73, 122, 182, 0.5); */
    background-color: rgba(128, 185, 255, 1);
}
.bg-wrap > img{
    position: absolute;
    top:0;
    Left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

.mainCenter{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    /* background-color:whitesmoke; */
    z-index:15;
}

.mainCenter > * {
    background-color: lightgrey;
    box-sizing:border-box;
    padding: 5px;
    border: solid transparent 1px;
    border-radius: 7px;
    cursor: default;

}


.slide-Container > *{
    width:100%;
    /* min-width: 800px; */
}

.slide-container{
    background-color:rgba(73, 122, 182, 1);
    /* width:80vw; */
    display:flex;
    align-items:center;
    justify-content:center;
    width: 900px;
    height: 400px;
}

.react-slideshow-container .nav[data-type="prev"] span {
  margin-left: 5px;
  border-right: none;
  border-top: none;
}
.react-slideshow-container .nav[data-type="next"] span {
  margin-right: 5px;
  border-left: none;
  border-bottom: none;
}

.react-slideshow-container + div.indicators > div:last-of-type {
  margin-right: 10px;
}

.react-slideshow-container{
    width: 800px;
    height: 300px;
    background-color:rgba(73, 122, 182, 0);
    /* background-color: white; */
    border-radius:7px;
}

.each-slide{
    height: 100%;
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.each-slide > div {
    display:flex;
    flex-direction:column;
    margin-left: 3vw;
}

.each-slide > * {
    color:whitesmoke;
}

.pImg1{
    margin-top:15px;
    width:200px;
    height:125px;
    border:solid black 1px;
    box-sizing: border-box;
}

.pImg4{
    width:100px;
    height:100px;
    border:solid black 1px;
    margin-top: 10px;
    box-sizing: border-box;
}

.ttext{
    background-color: rgba(73, 122, 182, 1);
    color:whitesmoke;
    text-align: center;
}

.each-slide > div > h3{
    padding-bottom: 10px;
    border-bottom: solid whitesmoke 2px;
}

.mobileWrap, .mobileWrap > *{
    visibility: hidden;
    width: 0px;
    height: 0px;
}

@media only screen and (max-device-width: 675px) {

    .slide-container, .slide-container > * {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    .ttext{
        font-size: 37pt;
    }

    .mobileWrap{
        visibility: visible;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: whitesmoke;
    }

    .mobileWrap > * {visibility: visible;}

    .mobileheader{
        font-size: 37pt;
        color: black;
        width: 100%;
        height:100%;
    }
    .projectCard{
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 5px;
        border: solid black 1px;
        border-radius: 5px;
        margin: 5px;

    }

    .mobileImg{
        width: 550px;
        height: 375px;
        border-radius: 7px;
    }

    .mobileText{
        display: flex;
        flex-direction: column;
        width: calc(100% - 550px);
    }

}